.section {
  height: 100vh;
  padding: 50px;
}

.sectionOne {
  background: #a3f3d3;
}

.sectionTwo {
  background: #efdefe;
}

.sectionThree {
  background: #d2d22d;
}

.sectionFour {
  background: #e84b5b;
}

.sectionFive {
  background-color: deepskyblue; 
}
