.slide {
  height: 100vh;
  padding: 50px;
}
§ 
.slideOne {
  width: 30vw;
  background: #a3f3d3;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-top: 20px;
  }
}
  
.slideTwo {
  width: 70vw;
  background: #efdefe;

  h2 {
    margin-bottom: 20px;
  }

  .frontenders {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-height: 300px;
    }
  }

  .renzo {
    display: block;
    margin: 100px auto 0;
  }
}

.slideThree {
  width: 60vw;
  background: #d2d22d;

  h2 {
    margin-bottom: 20px;
  }

  .wizards {
    display: grid;
    place-items: center;
    grid-gap: 60px;
  }
}

.slideFour {
  width: 40vw;
  background: #e84b5b;

  h2 {
    margin: 0 auto;
    width: 100%;
    color: white;
  }

  .rescueTeam {
    display: grid;
    place-items: center;
    grid-gap: 30px;
  
    img {
      max-width: 150px;
      width: 100%;
    }
  }
}
