.section {
  height: 100vh;
  padding: 50px;

  :global(.animation-1) {
    transform: translateY(0);
    opacity: 1;
  }

  :global(.animation-2) {
    transform: rotate(-15deg);
  } 
}

.sectionOne {
  background: #a3f3d3;
}

.sectionTwo {
  background: #efdefe;
}

.sectionThree {
  background: #d2d22d;
}

.sectionFour {
  background: #e84b5b;
}

.sectionFive {
  background: deepskyblue; 
}

.sectionSix {
  background: #555; 
}
