.slideFour {
  h2 {
    margin: 0 auto;
    width: 100%;
    color: white;
    margin-bottom: 20px;
  }

  .rescueTeam {
    display: grid;
    place-items: center;
    grid-gap: 30px;
  
    img {
      max-width: 150px;
      width: 100%;
      width: 150px; 
      object-fit: cover;
    }
  }
}
