.slide {
  height: 100vh;
  padding: 50px;
}

.slideFour {
  width: 40vw;
  background: #e84b5b;

  h2 {
    margin: 0 auto;
    width: 100%;
    color: white;
    margin-bottom: 20px;
  }

  .rescueTeam {
    display: grid;
    place-items: center;
    grid-gap: 30px;
  
    img {
      max-width: 150px;
      width: 100%;
    }
  }
}
