.slideFour {
  h2 {
    margin: 0 auto;
    width: 100%;
    color: white;
    margin-bottom: 20px;
  }

  .rescueTeam {
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
    transform: translateY(150px);
    transform: rotate(0);
    opacity: 0;   
    transition: opacity 2s ease-out, transform 2s ease-out; 
  
    img {
      max-width: 150px;
      width: 100%;
      width: 150px; 
      object-fit: cover;
      margin-right: 40px;
    }
  }
}

