.slideThree {
  h2 {
    margin-bottom: 20px;
  }

  .wizards {
    display: grid;
    place-items: center;
    grid-gap: 60px;

    .glenn {
      width: 515px;
      object-fit: cover;
    }

    .colin {
      width: 260px;
      object-fit: cover; 
    }
  }
}
