:root {
  --horizontal-scroll-container-width: calc(var(--section-one) + var(--section-two) + var(--section-three) + var(--section-four));
  --section-one: 30vw; 
  --section-two: 70vw; 
  --section-three: 60vw; 
  --section-four: 40vw; 
}

.app {

}
 