.slideTwo {
  h2 {
    margin-bottom: 20px;
  }

  .outerWrapper {
    display: flex;
    justify-content: space-between;

    .frontenders {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      img {
        max-height: 300px;
        width: 240px;
        object-fit: cover;
      }
  
      .rafa {
        margin-left: 60px;
      }
    }

    .textWrapper {
      width: 350px;
      margin-left: 30px;

      p {
        width: 100%;
        white-space: normal;
      }
    }
  }


  .renzo {
    display: block;
    margin: 100px auto 0;
    width: 240px;
    object-fit: cover; 
  }
}
