.slideTwo {
  h2 {
    margin-bottom: 20px;
  }

  .frontenders {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-height: 300px;
      width: 240px;
      object-fit: cover;
    }

    .rafa {
      margin-left: 60px;
    }
  }

  .renzo {
    display: block;
    margin: 100px auto 0;
    width: 240px;
    object-fit: cover; 
  }
}
